<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/static/auto.js"></script>
<script src="/static/simpletones.js"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<style> #alankar {color: blue} #alankar:hover {color: red} </style>




</head>
<body bgcolor = "FFBFAA">
	<center> 
	<p></p>
	<div style = "width: 95%; border: 1px solid #996955" id = "form" >
    <h1> Raag Alankar Generator</h1>
    <form action="/" method="POST">
    	<table> <tr>
    	<td> <label> <strong> Raag: </strong> </label> </td> <td> <input id="auto" type="text" name="text1" placeholder = "Raag" autocomplete="off"> <br/> </td> </tr> 
        <tr> <td> <label> <strong> Number: </strong> </label> </td> <td> <input type="number" name="text2" placeholder = "#" min = "1" max = "15"> </td></tr>
        <tr> <td> <label> <strong> Key: </strong> </label> </td> <td> <select name="text3" placeholder = "Key"> 
        <option value = "A">A </option> <option value = "A#">A#</option> <option value = "B">B</option> 
        <option value = "C">C</option> <option value = "C#">C#</option> <option value = "D">D</option> 
        <option value = "D#">D#</option> <option value = "E">E</option> <option value = "F">F</option> 
        <option value = "F">F#</option> <option value = "G">G </option> <option value = "G#">G# </option></select> </td></tr>
        <tr> <td> <label> <strong> Speed: </strong> </label> </td><td> <input type="number" name="text4" placeholder = "B/M" min = "10" max = "500"> </td> </tr> 
    	<tr> <td> <input type="radio" id="indian" name="notation" value="indian"> <label for="indian">Indian Notation </label> </td>
  		<td> <input type="radio" id="solfege" name="notation" value="solfege"> <label for="solfege">Solfege Notation</label> </td> </tr> </table><br/> 
        <input type="submit" name="my-form" value="Get Alankars"> <input type="reset" value = "Last Query"> <p></p>
    </form> 
	</div></center>
	<center> 
    <div style = "width: 75%;" id = "notes">
    	<p style = "font-size:8px;"> <em>The majority of Raags are vakra - that is, they do not have a very direct Aaroha and Avroha. These Raags are marked in <span style = "color:#AA0000"> red </span>, and the algorithm will for some lengths of alankar return "Memory Overload" reflecting too many different permutations to compute. Raags marked in <span style = "color:#996600"> yellow </span> will always return, but 50 or more potential alankars might be returned. Raags in black are known to have a maximum of 10 different options for each length. Don't consider the returned alankars in the vakra Raags as gospel - they are, at best, the beginnings of the development of a palta. </em></p>
    </div></center>

<script>
autocomplete(document.getElementById("auto"), raags);
</script>

</body>
</html>
